{% extends 'layout.html' %}
{% block content %}
    <!--<form method="post" action="/">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>-->
    <h1>{{ pagename }}</h1>
    <p>
        <h2>Introduction</h2>
        This assignment focuses on secure Web development. For this assignment, you are tasked with turning your spell checking system from Assignment 1 into a Web service using Flask, while focusing on the security of the Web service you are implementing. After you develop the secure Web service, you will test it to ensure it is not vulnerable to common attacks. Though it is not part of the grade, you should continue to use the secure development practices that you established in Assignment 1.
    </p>
    <p>
        <h2>Setup</h2>
        Completion time – 2 – 5 hours
        If you do not already have pip installed on your machine, install pip using the following command:
        $ sudo apt-get install python3-pip
        For this assignment you are required to use the Flask Web framework. The Flask web framework can be installed using pip.
        $ sudo pip install flask
        For python projects, tox is a good framekwork for running tests. For more information on Tox, see https://tox.readthedocs.io/en/latest/. Tox can be installed using pip.
        $ sudo pip install tox
        However, in order to get tox to work well with Travis CI, you may need the tox-travis plugin for Travis. For more information on this plugin, see https://tox-travis.readthedocs.io/en/stable/. This can also be installed using pip.
        $ sudo pip install tox-travis
    </p>
    <p>
        <h2>Deliverables & Grading</h2>
        The source code is submitted through Gradescope, and the report is to be submitted through NYU Classes. Your report should have a link to the GitHub repository for the code, which should be readable by myself and the TAs or set to public.
            1. Web service code - 30 pts.
            2. Tests – 20 pts.
            3. Write-ups – 50 pts.
            Total 100 pts.
        Source code can be submitted through GitHub integration or as a ZIP file to the gradescope. All necessary files should be present in your submission, regardless of the method. We expect the application to launch with the command flask run so your submission must contain an app.py file in its root directory.
        Flask extensions are allowed, but must be declared in a requirements.txt file and be able to be installed using:
        pip install -r requirements.txt
    </p>
{% endblock content %}